/* import other CSS */
@import url('reset.css');

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --black: #000000;
  --white: #FFFFFF;
  --beige: #FAFAFA;
  --dark-blue: #13123E;
  --light-blue: #BAD6D4;
  --yellow: #F7C776;
}

* { 
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  color: var(--dark-blue);
}

strong {
  font-weight: 700;
}

br {
  padding-bottom: 1rem;
}

.container {
  padding: 1.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  padding: 1rem;
}

section {
  margin: 6rem 0;
}

h1 {
  font-weight: 700;
  font-size: 1.25rem;
  padding-bottom: 2rem;

}

/* h1:after {
  content: '';
  background: var(--yellow) no-repeat;
  border-radius: 43px;
} */

h2 {
  font-weight: 800;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.title {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

/* .text-block {
  margin-bottom: 2rem;
} */

.link {
  display: inline-block;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
  text-align: center;
  color: var(--yellow);
  font-size: 0.9rem;
  border: 2px solid var(--yellow);
  border-radius: 43px;
}

.link:hover {
  color: var(--white);
  background-color: var(--yellow);
}

.tag {
    display: inline-block;
    padding: .2rem 1rem;
    margin: .5rem 0;
    text-align: center;
    color: var(--white);
    font-size: 0.9rem;
    background-color: var(--light-blue);
    border: 2px solid var(--light-blue);
    border-radius: 43px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

/* .image-block {
  background: url('/assets/images/index-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
} */

.card {
  text-align: center;
  padding: 2rem;
  background-color: var(--beige);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

.icon {
  margin-bottom: 1rem;
}

.line {
  margin: 1rem 0;
}

.project-card {
  height: 20rem;
  width: 20rem;
  margin: 2rem 0;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

footer {
  padding: 1rem 0 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
}

.page-link svg {
  width: 1.4rem;
  height: 1.4rem;
}

.page-link {
  padding: 1.6rem;
}

path:hover {
  fill: var(--light-blue);
}

@media (min-width: 45rem) {
  .text-block {
    width: 30rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .title {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .cards,
  .project-cards {
    display: flex;
    gap: 2rem;
  }

  .project-cards {
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }

  .project-card {
    margin: 0;
  }

  .introduction {
    display: flex;
    margin: 4rem 0;
    justify-content: center;
    align-items: center;
  }

  .flex-block {
    display: flex;
    gap: 4rem;
    margin: 6rem 0;
  }

  .block {
    margin: 4rem 0;
  }
  
  .image-block {
    min-width: 26rem;
  }

  .image-block img{
    border-radius: 1rem;
  }

  footer {
    display: flex;
    justify-content: center;
  }
}




@media (min-width: 65rem) {
  .container {
    width: 65rem;
    display: block;
    margin: 0 auto;
  }
}

.centered {
  display: block;
  margin: 0 auto;
}

/* NAVIGATION SECTION */
.desktop-navigation {
  display: none;
}

.desktop-nav-menu {
  display: flex;
}

.desktop-nav-menu li:hover {
  color: var(--light-blue);
}


.toggle {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
}

.close-toggle {
  display: none;
}

.close-toggle.selected {
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 10;
}

.dropdown {
  cursor: pointer;
  margin-bottom: 1rem;
}

.dropdown__items {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  z-index: 10;
  padding: 0 2rem;
  line-height: 3rem;
  background-color: var(--beige);
  transition: all 0.2s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > span > svg{
  padding-top: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--beige);
  min-width: 160px;
  z-index: 11;
}

.dropdown-content a {
  color: var(--color-white);
  font-size: 1rem;
  padding: .5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--color-gray);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--beige);
  padding: 2.5rem;
  margin-top: 0rem;
}

ul.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-menu a {
  font-size: 1.4rem;
  padding: 2rem;
}

.nav-menu__item {
  margin: 1.6rem;
}

.mobile-navigation[data-visible="true"] {
  display: block;
  height: 47vh;
}

@media only screen and (min-width: 50rem) {
  .desktop-navigation {
    display: block;
  }

  .mobile-navigation, .toggle {
    display: none;
  }
}