/* import other CSS */
@import url('reset.css');

:root {
  --clr-primary: hsl(241, 55%, 16%);

  --clr-accent-yellow: hsl(38, 89%, 72%);
  --clr-accent-light-yellow: hsla(38, 89%, 72%, 0.5);

  --clr-accent-blue: hsla(176, 25%, 78%, 1);
  --clr-accent-light-blue: hsla(176, 25%, 78%, 0.5);

  --clr-accent-green: hsla(138, 28%, 72%, 1);
  --clr-accent-light-green: hsla(138, 28%, 72%, 0.5);
  
  --clr-neutral-200: hsla(0, 0%, 98%, 1);
  --clr-neutral-400: hsla(38, 25%, 94%, 1);
  --clr-neutral-600: hsla(38, 24%, 80%, 1);

  --ff-primary: 'Montserrat', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.875rem; 

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-500);
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);

    --fs-button: var(--fs-400);
  }
}

body {
  color: var(--clr-primary);
  font-family: var(--ff-body);
}

.container {
  padding: 2rem;

  max-width: 80em;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.logo {
  width: 9rem;
}

.hero, .about, .skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.flex-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.hero-img {
  margin-top: 4rem;
  object-fit: cover;
}

.text-block {
  max-width: 35rem;
}

.img-block {
  max-width: 45rem;
}

.project-img {
  border-radius: .5rem;
}

@media (min-width: 50em) {
  .header {
    padding-bottom: 8rem;
  }

  .hero, .about, .skills, .flex-block {
    flex-direction: row;
    margin-bottom: 8rem;
  }

  .hero-img {
    margin-top: 0;
  }

  .img {
    margin: 1rem 4rem 1rem 4rem;
  }

  .project-img {
    width: 30rem;
  }
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-primary-heading);
}

h2 {
  margin-bottom: 1rem;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-secondary-heading);
}

h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

/* h2:after {
  content: '.';
  background-color: var(--clr-accent-light-yellow);
  background-position: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
} */

p {
  margin-bottom: 2rem;
}

.bold-text {
  font-weight: var(--fw-semi-bold);
}

.m-left {
  margin-left: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-200);
  border-radius: 2rem;
}

.btn-yellow {
  background-color: var(--clr-accent-yellow);
}

.btn-yellow:hover {
  background-color: var(--clr-accent-light-yellow);
}

.btn-blue {
  background-color: var(--clr-accent-blue);
}

.btn-blue:hover {
  background-color: var(--clr-accent-light-blue);
}

.centered-img {
  margin: 1rem auto 1rem auto;
}

.breadcrumbs {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: var(--fw-semi-bold)
}

strong {
  font-weight: var(--fw-semi-bold);
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;

  background-color: var(--clr-neutral-200);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

@media (min-width: 50em) {
  .cards {
    flex-direction: row;
    gap: 2rem;
    margin: 8rem 0;
  }

  .card {
    margin: 0 1rem;
  }
}

.project-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: .5rem 0;
}

.project-card {
  height: 20rem;
  width: 20rem;
  margin: 1rem 0;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: 50em) {
  .project-cards {
    gap: 2rem;
  }

  .project-card {
    width: 24rem;
    height: 24rem;
  }
}

.footer {
  margin: 2rem 0 0 0;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

.page-link svg {
  width: 1.4rem;
  height: 1.4rem;
}

.page-link {
  padding: 1.6rem;
}

path:hover {
  fill: var(--light-blue);
}

@media (min-width: 40em) {
  .footer {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }
}

/* NAVIGATION SECTION */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 6rem;
  font-weight: var(--fw-semi-bold);
}

.hamburger-menu {
  padding: 1rem;
}

.desktop-navigation {
  display: none;
}

.desktop-nav-menu {
  display: flex;
}

.desktop-nav-menu li:hover, .current {
  color: var(--clr-neutral-600);
}

.toggle {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
}

.close-toggle {
  display: none;
}

.close-toggle.selected {
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 10;
}

.dropdown {
  cursor: pointer;
  margin-bottom: 1rem;
}

.dropdown__items {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  z-index: 10;
  padding: 0 2rem;
  line-height: 3rem;
  transition: all 0.2s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > span > svg{
  padding-top: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 11;
}

.dropdown-content a {
  font-size: 1rem;
  padding: .5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .current  {
  color: var(--clr-neutral-600);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-navigation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 18rem;
  background-color: var(--clr-neutral-400);
  padding: 2.5rem;
  margin-top: 0rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 6px #00000029;
}

ul.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-menu a {
  font-size: var(--fs-nav);
  padding: 2rem;
}

.nav-menu__item {
  margin: 1.6rem;
}

.mobile-navigation[data-visible="true"] {
  display: block;

}

@media (min-width: 35em) {
  .desktop-navigation {
    display: block;
  }

  .mobile-navigation, .toggle {
    display: none;
  }
}